body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#scribbler_header{
    font-family: 'Montez', cursive; 
    color: blue;
}

#signup-btn{
    background-color: darkblue;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    position:absolute;
    right: 140px;
}

#signin-btn{
    background-color: darkblue;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    position:absolute;
    right: 50px;
}